@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Jura&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.main {
  height: 100vh;
  width: 100vw;
  background-color: #364f6b;
}
div.main div.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
div.main div.content div.title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3em;
  color: #3fc1c9;
}
div.main div.content div.option {
  display: flex;
  flex-direction: column;
  min-height: 138.75px;
}
div.main div.content div.option > * {
  margin-bottom: 1em;
}
div.main div.content div.option button {
  border: 1px #3fc1c9 solid;
  border-radius: 10px;
  font-family: "Jura", sans-serif;
  background-color: transparent;
  color: #3fc1c9;
  font-size: 1em;
  padding: 0.3em 0.4em;
  cursor: pointer;
}
div.main div.content div.option button:hover {
  border-color: #f5f5f5;
  color: #f5f5f5;
}
div.main div.content div.option div.difficulty {
  height: 30.25px;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #3fc1c9;
  font-family: "Jura", sans-serif;
}
div.main div.content div.option div.difficulty div.controls,
div.main div.content div.option div.difficulty input.activator {
  display: none;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(1):checked ~ div.track {
  transform: translateX(calc((1 - 1) * 100% * -1 ));
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(1):checked ~ div.slide:nth-of-type(1) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(1):checked ~ div.controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(1):checked ~ div.indicators label.indicator:nth-of-type(1) {
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(2):checked ~ div.track {
  transform: translateX(calc((2 - 1) * 100% * -1 ));
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(2):checked ~ div.slide:nth-of-type(2) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(2):checked ~ div.controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(2):checked ~ div.indicators label.indicator:nth-of-type(2) {
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(3):checked ~ div.track {
  transform: translateX(calc((3 - 1) * 100% * -1 ));
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(3):checked ~ div.slide:nth-of-type(3) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(3):checked ~ div.controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(3):checked ~ div.indicators label.indicator:nth-of-type(3) {
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(4):checked ~ div.track {
  transform: translateX(calc((4 - 1) * 100% * -1 ));
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(4):checked ~ div.slide:nth-of-type(4) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(4):checked ~ div.controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(4):checked ~ div.indicators label.indicator:nth-of-type(4) {
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(5):checked ~ div.track {
  transform: translateX(calc((5 - 1) * 100% * -1 ));
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(5):checked ~ div.slide:nth-of-type(5) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(5):checked ~ div.controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
div.main div.content div.option div.difficulty input.activator:nth-of-type(5):checked ~ div.indicators label.indicator:nth-of-type(5) {
  opacity: 1;
}
div.main div.content div.option div.difficulty div.controls label.control {
  height: 10px;
  width: 10px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  border-width: 2px 2px 0 0;
  display: block;
  border-style: solid;
  border-color: #3fc1c9;
  opacity: 0.7;
  z-index: 3;
  outline: 0;
}
div.main div.content div.option div.difficulty div.controls label.control:hover {
  opacity: 1;
  border-color: #f5f5f5;
}
div.main div.content div.option div.difficulty div.controls .control-backward {
  left: 5px;
  transform: rotate(-135deg);
}
div.main div.content div.option div.difficulty div.controls .control-forward {
  right: 5px;
  transform: rotate(45deg);
}
div.main div.content div.option div.difficulty div.track {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease 0s;
}
div.main div.content div.option div.difficulty div.track div.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
  height: 100%;
  position: absolute;
}
div.main div.content div.option div.difficulty div.track div.slide:nth-of-type(1) {
  transform: translateX(calc((1 - 1) * 100%));
}
div.main div.content div.option div.difficulty div.track div.slide:nth-of-type(2) {
  transform: translateX(calc((2 - 1) * 100%));
}
div.main div.content div.option div.difficulty div.track div.slide:nth-of-type(3) {
  transform: translateX(calc((3 - 1) * 100%));
}
div.main div.content div.option div.difficulty div.track div.slide:nth-of-type(4) {
  transform: translateX(calc((4 - 1) * 100%));
}
div.main div.content div.option div.difficulty div.track div.slide:nth-of-type(5) {
  transform: translateX(calc((5 - 1) * 100%));
}
div.main div.content div.option div.difficulty div.track div.slide span {
  font-size: 0.8em;
}
div.main div.content.game-content {
  flex-direction: row;
  padding: 0.5em;
}
div.main div.content.game-content div.grid {
  max-height: calc( 100vh - 4em );
  max-width: calc( 100vh - 4em );
  width: calc( 100vw - 10em );
  height: calc( 100vw - 10em );
  display: flex;
  flex-direction: column;
}
div.main div.content.game-content div.grid div.row {
  height: calc(100% / 9);
  width: 100%;
  display: flex;
}
div.main div.content.game-content div.grid div.row div.col {
  height: 100%;
  width: calc(100% / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3fc1c9;
}
div.main div.content.game-content div.grid div.row div.col span {
  font-family: "Jura", sans-serif;
  font-size: 2em;
}
div.main div.content.game-content div.grid div.row div.col span.guess {
  color: #f5f5f5;
}
div.main div.content.game-content div.grid div.row div.col div.circle {
  height: 95%;
  width: 95%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.main div.content.game-content div.grid div.row div.col div.circle.focus, div.main div.content.game-content div.grid div.row div.col div.circle:active {
  background-color: #3fc1c9;
  color: #364f6b;
  transition: all 0.5s ease 0s;
}
div.main div.content.game-content div.grid div.row div.col div.circle.focus span.guess, div.main div.content.game-content div.grid div.row div.col div.circle:active span.guess {
  color: #364f6b;
}
div.main div.content.game-content div.grid div.row div.col.uncover {
  cursor: pointer;
}
div.main div.content.game-content div.grid div.row div.col div.note {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block {
  height: calc(100% / 3);
  width: calc(100% / 3);
  display: flex;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block span {
  font-size: 1em;
  color: #f5f5f5;
  text-shadow: 0 0 3px #000;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--0,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--1,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--2 {
  align-self: flex-end;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--3,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--4,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--5 {
  align-self: center;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--6,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--7,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--8 {
  align-self: flex-start;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--0,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--3,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--6 {
  justify-content: flex-end;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--1,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--4,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--7 {
  justify-content: center;
}
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--2,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--5,
div.main div.content.game-content div.grid div.row div.col div.note div.note__block--8 {
  justify-content: flex-start;
}
div.main div.content.game-content div.grid div.row .col-2,
div.main div.content.game-content div.grid div.row .col-5 {
  border-right: 1.5px solid #3fc1c9;
}
div.main div.content.game-content div.grid div.row .col-3,
div.main div.content.game-content div.grid div.row .col-6 {
  border-left: 1.5px solid #3fc1c9;
}
div.main div.content.game-content div.grid .row-2,
div.main div.content.game-content div.grid .row-5 {
  border-bottom: 1.5px solid #3fc1c9;
}
div.main div.content.game-content div.grid .row-3,
div.main div.content.game-content div.grid .row-6 {
  border-top: 1.5px solid #3fc1c9;
}
div.main div.content.game-content div.panel {
  display: flex;
  flex-direction: column;
  width: 6em;
}
div.main div.content.game-content div.panel div.number {
  display: flex;
  flex-direction: column;
  height: 15em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
div.main div.content.game-content div.panel div.number button {
  border: 1px #3fc1c9 solid;
  border-radius: 100%;
  font-family: "Jura", sans-serif;
  background-color: transparent;
  color: #3fc1c9;
  font-size: 1em;
  padding: 0.3em 0.4em;
  cursor: pointer;
  min-width: 2em;
  min-height: 2em;
  margin: 0.5em;
}
div.main div.content.game-content div.panel div.number button:hover {
  border-color: #f5f5f5;
  color: #f5f5f5;
}
div.main div.content.game-content div.panel div.number button.active, div.main div.content.game-content div.panel div.number button:active {
  background-color: #3fc1c9;
  color: #364f6b;
  border-color: #f5f5f5;
  transition: all 0.5s ease 0s;
}
div.main div.content.game-content div.panel div.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.main div.content.game-content div.panel div.action button {
  border: 1px #3fc1c9 solid;
  border-radius: 100%;
  font-family: "Jura", sans-serif;
  background-color: transparent;
  color: #3fc1c9;
  font-size: 1.5em;
  padding: 0.3em 0.4em;
  cursor: pointer;
  min-width: 2em;
  min-height: 2em;
  margin: 0.5em;
}
div.main div.content.game-content div.panel div.action button:hover {
  border-color: #f5f5f5;
  color: #f5f5f5;
}
div.main div.content.game-content div.panel div.action button.active {
  background-color: #3fc1c9;
  color: #364f6b;
  border-color: #f5f5f5;
}

.hide {
  display: none;
}

div.modal-shadow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.modal-shadow div.modal {
  background-color: #f5f5f5;
  opacity: 1;
  width: 40%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-family: "Jura", sans-serif;
  border-radius: 10px;
}
div.modal-shadow div.modal div.content {
  display: flex;
  justify-content: center;
  color: #364f6b;
}
div.modal-shadow div.modal div.button {
  display: flex;
  justify-content: center;
}
div.modal-shadow div.modal div.button button {
  border: 1px #3fc1c9 solid;
  border-radius: 10px;
  font-family: "Jura", sans-serif;
  background-color: transparent;
  color: #3fc1c9;
  font-size: 0.8em;
  padding: 0.3em 0.4em;
  cursor: pointer;
  margin: 1em 0.2em 0 0.2em;
}
div.modal-shadow div.modal div.button button:active {
  background-color: #3fc1c9;
  color: #364f6b;
  border-color: #f5f5f5;
  color: #f5f5f5;
}

@media screen and (max-width: 710px) {
  div.main div.content.game-content {
    flex-direction: column;
  }
  div.main div.content.game-content div.grid {
    max-height: calc( 100vh - 11em );
    max-width: calc( 100vh - 11em );
    width: calc( 100vw - 1em );
    height: calc( 100vw - 1em );
  }
  div.main div.content.game-content div.grid div.row div.col span {
    font-size: 1.6em;
  }
  div.main div.content.game-content div.grid div.row div.col div.note div.note__block span {
    font-size: 0.8em;
  }
  div.main div.content.game-content div.panel {
    width: 15em;
  }
  div.main div.content.game-content div.panel div.number {
    flex-direction: row;
    height: 6em;
    margin-bottom: 0;
  }
  div.main div.content.game-content div.panel div.action {
    flex-direction: row;
  }

  div.modal-shadow div.modal {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  div.main div.content.game-content div.grid div.row div.col span {
    font-size: 1.2em;
  }
  div.main div.content.game-content div.grid div.row div.col div.note div.note__block span {
    font-size: 0.7em;
  }

  div.modal-shadow div.modal {
    width: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
